body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    background: white;
    padding: 50px 20px;
    width: 80%;
    margin: 80px auto;
    box-shadow: 2px 2px 10px gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}